
* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.js-results-top {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position:relative;
  top: 220px;

}

span.topThree,.randomOthers {
  position:relative;
  top: 10px;
  bottom: 30px;
  left: 10px;
  font-size:1.5em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #80147F;
}

.randomOthers:hover {
  color: #D7BDE2;
}

.topThree:hover {
  color: #D7BDE2;
}

.js-results-random{
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position:relative;
  top: 220px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-2 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-1, .col-2 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
 
  /* 4 columns */
  .col-1, .col-2 {
     width: 33.33%;
  }

}